/* Base CSS */
* {
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
  margin: 0;
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eaeaea;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 32px;
  background: #a3a3a3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #787878;
}

/*  */

#drop-area {
  padding: 0 12px;
  width: 100%;
  height: 400px;
  border: 2px dashed #b0b0b0;
  border-radius: 12px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #858585;
  font-size: 18px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
  text-align: center;
}

#drop-area:hover {
  background-color: #f0f0f0;
}

#file-select-button,
#folder-select-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

#file-select-button:hover,
#folder-select-button:hover {
  background-color: #0067d6;
  transition: 0.3s ease;
}

#results {
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn-rescanFile {
  margin-bottom: -8px;
  width: max-content;
  padding: 5px 8px;
  background-color: #f2f2f2;
  border: 1px solid #b6b6b6;
  border-radius: 6px;
}

.file-section {
  margin-bottom: 14px;
  padding: 16px 18px;
  padding-bottom: 18px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 4px #bfbfbf;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.card h3 {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 500;
  color: #454545;
}

.card p {
  margin: 0;
  font-size: 16px;
  color: #666;
}

.status {
  font-size: 14px;
  padding: 5px 0;
}

.status-clean {
  color: #4caf50;
}

.status-malicious {
  color: #f44336;
}

.status-unknown {
  color: #b5b5b5;
}

.main-card {
  padding: 4px;
}

.accordion-body pre {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap; /* برای جلوگیری از ایجاد اسکرول افقی */
  word-wrap: break-word; /* برای شکستن خطوط طولانی */
}

.accordion-item {
  font-size: 16px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
}

#loading {
  position: fixed;
  height: 100vh;
  width: 100%;
  opacity: 0.91;
  background-color: white;
  z-index: 99;
}

.progress-polling {
  display: flex;
  align-items: center;
  align-content: center;
}

.spinner-border {
  font-size: 44px;
  height: 110px;
  width: 110px;
}

.card-title {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.accordion-button {
  font-size: 16px !important;
  font-weight: 700;
  border: 1px solid #cacaca !important;
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 10px;
}

.accordion-button:not(.collapsed) {
  background-color: #ededed;
}

.upload-progress {
  margin-top: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.upload-progress progress {
  height: 20px;
  width: 100%;
}

.message-upload {
  color: rgb(46, 46, 46);
  font-size: 18px;
  font-weight: 700;
}

.main-data {
  display: flex;
  align-items: center;
  gap: 20px;
}

.positives {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
}

.total {
  font-size: 18px;
}

.engines {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 18px;
}

.engines .circle {
  background-color: #fff;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  color: black;
  padding-top: 8px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.main-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px 220px;
  margin-bottom: 22px;
  align-items: center;
}

#searchInput {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(61, 61, 61);
  border-radius: 5px;
  padding: 6px 10px;
}

#sortOptions {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(61, 61, 61);
  border-radius: 5px;
  padding: 6px 8px;
  margin-left: 4px;
}

.main-info p {
  margin: 0 !important;
}

.file-section p {
  margin-bottom: 10px;
}

.file-section.hidden {
  display: none;
}

.result-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 52px;
}

.button-dark-mode {
  display: flex;
  padding-right: 10px !important;
  justify-items: center;
  background: none;
  border: 0;
  color: rgb(222, 222, 222);
  background-color: #454545;
  padding: 8px 0;
  border-radius: 6px;
  margin-left: 18px;
}

.button-dark-mode svg {
  width: 42px;
  height: 24px;
}

.results-header {
  font-weight: 700;
  font-size: 24px;
}

input:focus-visible,
select:focus-visible {
  outline: 1px solid rgb(122, 122, 122);
}

/* Responsive design for tablets and phones */
@media (max-width: 994px) {
  #searchInput {
    width: 100%;
  }

  #sortOptions {
    margin: 0;
    margin-top: 10px;
    padding: 6px 10px;
  }

  .result-header {
    flex-direction: column;
    gap: 12px;
  }

  #av-results {
    display: block;
  }

  .main-info {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
  }

  .card {
    width: 100%;
    margin-bottom: 10px;
  }
}
