body {
  background-color: #202020;
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 32px;
  background: #424242;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #575757;
}

/*  */

#drop-area {
  border: 2px dashed #4a4a4a;
  background-color: rgb(40, 40, 40);
  color: #858585;
}

#drop-area:hover {
  background-color: rgb(43, 43, 43);
}

.file-section {
  padding-bottom: 24px;
  background-color: rgb(40, 40, 40);
  box-shadow: 0 0 6px #000000;
}

.accordion-body {
  background-color: rgb(53, 53, 53);
  width: 100%;
  margin: 0;
}

.card {
  background-color: rgb(46, 46, 46);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border: 0;
}

.accordion {
  --bs-accordion-btn-color: black;
  --bs-accordion-border-color: "";
  --bs-accordion-btn-icon: "";
  --bs-accordion-btn-active-icon: "";
  --bs-accordion-bg: "";
}

.accordion-button::after {
  content: url("./data/img/chevron-down.svg");
}

.accordion-button {
  border: 1px solid #555555 !important;
  color: rgb(212, 212, 212);
  background-color: rgb(37, 37, 37);
}

.accordion-button:active {
  border: 1px solid #555555 !important;
  color: white;
  background-color: rgb(37, 37, 37);
}

.accordion-button:not(.collapsed) {
  color: rgb(242, 242, 242);
  background-color: rgb(56, 56, 56);
}

hr {
  border-bottom: 1px solid rgb(130, 130, 130) !important;
}

#loading {
  background-color: rgb(26, 26, 26);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(238, 238, 238);
}

p,
span {
  color: rgb(198, 198, 198);
}
